{{ if (or .Params.categories .Params.tags) }}
  <ul class="flex flex-row flex-wrap items-center text-red-600 dark:text-neutral-300">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
      <li>
        <a href="{{ (urlize (printf "categories/%s" . )) | relLangURL }}/"
          class="text-sm font-slab lowercase bg-neutral-200 dark:bg-red-600 dark:text-black mr-2 py-1 px-2">
          {{ . }}
        </a>
      </li>
      {{ end }}
    {{ end }}
    {{ if .Params.tags }}
      {{ range .Params.tags }}
      <li>
        <a href="{{ (urlize (printf "tags/%s" . )) | relLangURL }}/"
          class="flex flex-row text-sm mr-2 py-1">
          <i class="h-5 w-5 flex-none">
            {{ partial "icon.html" site.Params.taxonomies.icons.tags }}
          </i>
          <span class="ml-0">{{ . }}</span>
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
