<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ block "title" . }}
    {{- $title := "" -}}
    {{- $siteTitle := $.Site.Title -}}
    {{- $subtitle := $.Site.Params.Subtitle -}}
    {{- $mainTitle := $siteTitle -}}
    {{- if $subtitle -}}
      {{- $mainTitle = printf "%s - %s" $siteTitle $subtitle -}}
    {{- end -}}

    {{- if .IsHome -}}
      {{- $title = $mainTitle -}}
    {{- else -}}
      {{- $title = printf "%s :: %s" .Title $mainTitle -}}
    {{- end -}}
    <title>{{- $title -}}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="w-full bg-red-600 dark:bg-black">
  <header class="py-4 flex flex-none justify-center z-10 {{- if $.Site.Params.header.sticky }} bg-black dark:bg-red-600 border-b-2 border-black sticky top-0{{ end -}}">
    {{ partial "header.html" . }}
  </header>
  <main class="flex flex-auto justify-center">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="flex flex-none justify-center border-t-2 border-t-red-600">
    {{ partial "footer.html" . }}
  </footer>
  {{ partial "extended_footer.html" . }}
</body>
</html>
